@model HireMeNow.Models.Candidato

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<style>
    h2 {
        text-align: center;
    }
</style>
<hr />
<h2>Eliminar Candidato</h2>
<hr />

<h3>Seguro que quieres eliminar el Candidato?</h3>
<div>

    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Delete" class="btn btn-danger" />
                @Html.ActionLink("Back to List", "Index", "", htmlAttributes: new { @class = "btn btn-outline-info" })
            </div>
        </div>
    }
</div>
