@model IEnumerable<HireMeNow.Models.Candidato>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<style>
    h2, th, td {
        text-align: center;
    }

    .bootbox .modal-header h4 {
        float: none;
    }

    .bootbox .modal-header .close {
        position: absolute;
        right: 15px;
    }
</style>

<div class="d-flex align-items-center p-3 my-3 text-black-50 bg-info rounded shadow-sm">
    <div class="lh-100">
        <h2 class="mb-3 text-white lh-100">Candidatos</h2>
        @Html.ActionLink("Nuevo Candidato", "Create", "", htmlAttributes: new { @class = "btn btn-primary" })

    </div>
</div>

<table class="table" id="candidato">
    <thead class="thead-light">
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.Capacitaciones.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Experiencia.Empresa)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.Puestos.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cedula)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puestos.Nombre)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Salario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RecomendadoPor)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.Creado)
                </th>*@
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Capacitaciones.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Experiencia.Empresa)
                </td>*@
            @*<td>
                    @Html.DisplayFor(modelItem => item.Puestos.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cedula)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puestos.Nombre)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Salario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RecomendadoPor)
                </td>*@
            @*<td>
                    @Html.DisplayFor(modelItem => item.Creado)
                </td>*@
            <td>
                @*@Html.ActionLink("Editar", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-outline-success" })*@
                @Html.ActionLink("Detalles", "details", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-outline-info" })
                @*@Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-outline-danger" })*@
                <button data-id="@item.Id" class="btn btn-outline-success js-new">Nuevo Empleado</button>
                <button data-candidato-id="@item.Id" class="btn btn-outline-danger js-delete">Eliminar</button>
            </td>
        </tr>
    }

</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#candidato").DataTable();
            $("#candidato").on("click", ".js-new", function () {
                var button = $(this);
                bootbox.confirm("Seguro que deseas contratar este candidato", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/Empleados/NewEmpleado/" + button.attr("data-id"),
                            method: "POST",
                            success: function () {
                                $.ajax({
                                    url: "/Candidatos/Delete/" + button.attr("data-id"),
                                    method: "POST",
                                    success: function () {
                                        table.row(button.parents("tr")).remove().draw();
                                        window.location.href = "/Empleados";
                                    }
                                });
                            }
                        });
                    }
                });
            });
            $("#candidato").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm({
                    title: "Eliminar Candidato",
                    message: "Seguro que deseas eliminar este candidato?",
                    buttons: {
                        cancel: {
                            label: '<i class="fa fa-times"></i> Cancel'
                        },
                        confirm: {
                            label: '<i class="fa fa-check"></i> Confirm'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: "/Candidatos/Delete/" + button.attr("data-candidato-id"),
                                method: "POST",
                                success: function () {
                                    table.row(button.parents("tr")).remove().draw();
                                }
                            });
                        }
                    }
                });
            });
        });
    </script>
}