@model IEnumerable<HireMeNow.Models.Puesto>

@{
    ViewBag.Title = "Puestos";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}


<style>
    h2, th, td {
        text-align: center;
    }
</style>

<hr />

<h2>Listado de Puestos</h2>
<hr />

<p>
    @Html.ActionLink("Nuevo Puesto", "Create", "", htmlAttributes: new { @class = "btn btn-outline-primary" })
</p>
<table class="table" id="puestos">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalarioMin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalarioMax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamentos.Departamentos)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Competencias.Nombre)
            </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.NivelRiesgos.Nombre)
                </th>*@
            <th>
                @*@Html.DisplayNameFor(model => model.Estados.Estados)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Creado)
                    </th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SalarioMin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SalarioMax)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departamentos.Departamentos)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Competencias.Nombre)
                </td>*@
                @*<td>
                    @Html.DisplayFor(modelItem => item.NivelRiesgos.Nombre)
                </td>*@
                @*<td>
                    @Html.DisplayFor(modelItem => item.Estados.Estados)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Creado)
                </td>*@
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-outline-success" })
                    @Html.ActionLink("Detalles", "details", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-outline-info" })
                    @*@Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-outline-danger js-delete" })*@
                    <button data-puesto-id="@item.Id" class="btn btn-outline-danger js-delete">Eliminar</button>
                </td>
            </tr>
        }
    </tbody>
   

</table>

@section scripts
{
    <script>
        $(document).ready(function () {

           var table = $("#puestos").DataTable();
           
            $("#puestos").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Seguro que deseas eliminar el Puesto", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/Puestos/Delete/" + button.attr("data-puesto-id"),
                            method: "POST",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>
}