@model IEnumerable<HireMeNow.Models.Estado>

@{
    ViewBag.Title = "Estados";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="d-flex align-items-center p-3 my-3 text-black-50 bg-info rounded shadow-sm">
    <div class="lh-100">
        <h2 class="mb-3 text-white lh-100">Estados</h2>
        @Html.ActionLink("Nuevo Estato", "Create", "", htmlAttributes: new { @class = "btn btn-primary" })
    </div>
</div>
<div class="my-3 p-3 bg-white rounded shadow-lg">
    <div class=" text-muted pt-3">
        @*<svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>*@
        <p class="media-body pb-3 mb-3 lh-125  border-gray d-flex align-items-center">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Estados)
                        </th>
                        @*<th>
                                @Html.DisplayNameFor(model => model.Creado)
                            </th>*@
                        <th></th>
                    </tr>
                </thead>


                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estados)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.Creado)
                            </td>*@
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-outline-success" })
                        </td>
                    </tr>
                }

            </table>
        </p>
    </div>
</div>