@model HireMeNow.ViewModel.NewCompetenciasViewModel

@{
    ViewBag.Title = "Competencias";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="d-flex align-items-center p-3 my-3 text-black-50 bg-info rounded shadow-sm">
    <div class="lh-100">
        <h2 class="mb-3 text-white lh-100">Crear Competencia</h2>
    </div>
</div>


<div class="my-3 p-3 bg-white rounded shadow-lg">

    @using (Html.BeginForm("Create", "Competencias"))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Competencias.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Competencias.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Competencias.Nombre, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Competencias.IdiomasId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.Competencias.IdiomasId, new SelectList(Model.Idiomas, "Id", "Nombre"), "Idiomas", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Competencias.IdiomasId, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Competencias.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Competencias.Descripcion, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Competencias.Descripcion, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    @Html.LabelFor(model => model.Competencias.EstadoId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.Competencias.EstadoId, new SelectList(Model.Estados, "Id", "Estados"), "Estados", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Competencias.EstadoId, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-outline-success">Guardar</button>
                    @Html.ActionLink("Volver a la lista", "Index", "", htmlAttributes: new { @class = "btn btn-outline-info" })
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
